* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body {
  background: #f0f2f5;
}

header {
  background: linear-gradient(270.47deg, #141817 25.83%, rgba(11, 184, 49, 0.881483) 91.52%, rgba(0, 161, 111, 0) 119.7%);
}

#banner {
  width: 100%;
}

header #gamer {
  width: 16rem;
  height: 16rem;
}

header #enter {
  width: 3rem;
  height: 3rem;
}

header #register {
  width: 3rem;
  height: 3rem;
}

header p {
  font-size: 2rem;
  font-weight: 700;
  color: #f0f2f5;
}

#presentation {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2rem;
}

.enter-register {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  margin-left: auto;
}

.enter-register a {
  text-decoration: none;
}
.enter-register p {
  margin-right: .8rem;
}

#presentation h1 {
  color: #f0f2f5;
  font-weight: 900;
  font-size: 3rem;

  margin-left: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

.container h2 {
  font-size: 2.1875rem;

  margin-top: 1rem;
  margin-left: 1.5rem;
}

.products {
  padding: 1.5rem;
  margin: 1.5rem;
  border: 1px solid black;
}

.products p {
  font-size: 1.5rem;
  font-weight: 500;
}

.price {
  margin-top: 18rem;
  color: #5acc75;
}

.product-img {
  width: 10rem;
  height: 10rem;
}

.buy-btn {
  background-color: #141817;
  color: #5acc75;

  font-size: 1.5rem;
  padding: .1rem .5rem .1rem .5rem;

  margin-top: .3rem;
}

.buy-btn:hover {
  cursor: pointer;
}

#interaction {
  margin-left: 1.5rem;
}

#interaction h2 {
  margin: 1.5rem auto 1.5rem auto;
}

#interaction p {
  font-size: 1.3333rem;
}

.congrats-container {
  margin: 1.5rem 1.5rem;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.congrats-img {
  width: 8rem;
  height: 8rem;
}

.congrats-container p {
  font-size: 1.3333rem;
  text-align: center;

  margin: 0 1rem 1rem 1rem;
}


@media(min-width: 800px) {
  html {
      font-size: 87.5%;
  }

  .products_list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  #congratulations {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}